@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
:root {
    --material-icons-color: black;
    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
    --input-background: #eee;
    --overlay-background: rgba(245, 158, 114, 0.8);
    --overlay-caption-color: #eb4a40;
    --overlay-content-background: linear-gradient(white, #fde0c5);

    --header-background: linear-gradient(to right, #eb4a40, #f59e72);
    --main-panel-background: linear-gradient(white, #fde0c5);
    --online-users-panel-background: linear-gradient(to right, #fde0c5, #facba6);
    --chat-panel-background: none;

    --title-color: white;
    --caption-color: white;

    --font-color: black;
    --date-color: gray;

    --register-form-background: linear-gradient(#fde0c5, #facba6);
    --warning-color: red;

    --button-color: white;
    --button-background: #f2855d;
    --button-background-hover: #f8b58b;

    --game-title-color: rgb(239, 15, 15);
}
* {
    font-family: "Abel", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

/* Basic */
body {
    /* min-width: 600px;
    min-height: 300px; */
    overflow: hidden;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.center { text-align: center; }

.shadow { box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4); }

.warning {
    font-weight: bold;
    color: rgb(255, 4, 0)
}

form input, form select {
    width: 100%;
    margin-bottom: 20px; 
}

input, select {
    font-size: 1rem;
    background: #eee;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}

input::placeholder, select {
    color: gray;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(117, 183, 229);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}

button:hover {
    background:  rgb(117, 183, 229);
}
button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
}
button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}
button.icon * {
    color: white;
}
button.icon:hover {
    background:  rgb(117, 183, 229);
}
button.icon:active {
    margin: 2px -2px -2px 2px;
}


/* Top level container */
#container {
    align-items: stretch;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Header */
#header {
    height: 80px;
    background: var(--header-background);
    padding: 0 20px;
}
#title {
    font-family: Abel, sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    color:  white;
    user-select: none;
}
#title .material-icons {
    color: white;
    font-size: 36px;
}
#user-panel {
    padding: 0;
}
#signin-user {
    cursor: pointer;
}

/* Main panel */
/* #main-panel {
    height: calc(100% - 80px);
    background: linear-gradient(white, #fde0c5);
} */



/* Game styles */

#game-container {
    /* position: relative; */
    display: flex;
    background: #b8e2fed1;
    height: 100vh;
}

#main-game {
    width: 70%; /* Percentage or fixed width */
}



#game-canvas, #counter, #game-start, #game-over {
    position: absolute;
    top: 0px;
    left: 0px;
}
#game-canvas, #game-start, #game-over {
    border: 1px solid gray;
    width: 854px;
    height: 740px;
}
#game-canvas {
    background: url(./images/map.png);
    background-size: cover;
}
#game-start, #game-over {
    background: rgba(1, 1, 1, 0.8);
}
#counter text {
    font-size: 130%;
    fill: white;
    stroke: black;
    stroke-width: 1px;
}
#game-start text {
    font-size: 150%;
    fill: white;
    text-anchor: middle;
}
#game-start #game-title {
    font-size: 400%;
    fill: url(#title-fill);
    stroke: black;
}
#game-over text {
    font-size: 120%;
    fill: url(#game-over-fill);
    text-anchor: middle;
}


#side-panel {
    /* flex: 1; */
    /* display: flex; */
    /* flex-direction: column; */
    padding-top: 5px;
    padding-left: 40px
}

/* Player Data */

#player-data{
    margin-bottom: 5px;
    background: #40779cd1;
    margin: 10px;
    padding: 10px;
}

#Player1{
    margin-bottom: 20px;
}

#Player1 p,
#player2 p{
    margin: 5px 0;
    color:white;
}

#Player1 p span,
#player2 p span{
    color:white;
}




/* Chatroom */

/* Data field caption and content */
.field-content {
    border-radius: 50px;
    /* padding: 10px 15px; */
    padding: 2px 2px;
    background:  white;
    transition: 1s background;
}
.field-content * {
    color:  rgb(0, 0, 0);
    padding: 5px;
}
.field-content:hover {
    background:  #eee;
}
.user-name {
    white-space: nowrap;
}

#chat-panel {
    /* flex-grow: 1; */
    /* align-items: stretch; */
    border: 1px solid #ccc; 
    background: #40779cd1;
    margin: 10px;
    height: 400px;
    color:white;
    
    /* padding: 5px; */
}

#chat-panel h3{
    font-size: 100%;
    text-align: center;
    color:white;
}

#chat-area {
    /* height: 100%; */
    align-items: flex-start;
    justify-content: start;
    gap: 20px;
    width:300px;
    height: 300px;
    overflow-y: auto;
    padding: 10px;

}

.chat-message-panel {
    align-items: flex-start;
    margin-bottom: 15px;
}

.chat-message {
    align-items: start;
    gap: 5px;
    padding: 0;
    word-wrap: break-word; 
    color:white;
}

.chat-date {
    font-size: 75%;
    color:white;
}

.chat-content {
    color:white;
    /* padding: 5px; */
}


/* End of Chatroom */

/* End of game Interface*/


/*Pair Up Page*/
.pair-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background: #5dc8f2;*/
    background: url("./images/zelda-background.png") no-repeat center;
    background-size: cover;
}

/* Instruction title */
.instruction-title {
    text-align: center;
    color: black;
}

/* Buttons for players */
.two-players {
    display: flex;
    gap: 400px;
}


.pair-up-button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(117, 183, 229);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 5px;
}

/* The scroll bar customization of instruction page */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px blue;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3a9dfc;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0f82fa;
}

.instructions-container {
    width: 700px; 
    height: 400px; 
    border: 1px solid #ccc; 
    overflow: auto;
    background: #b8e2fed1;
    padding: 20px;
    border-radius: 10px;
}

.instructions-container h3 {
    text-align: center;
}

/*End of pair up page*/


/* Home Page */
.home-page-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}

.home-page-col { 
    flex-direction: column;  
}

#game-title {
    font-size: 200%;
    color: black;
}

/* Overlay */
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("./images/zelda-background.png") no-repeat center;
    background-size: cover;
}

.overlay .caption {
    font-size: 120%;
    color: #ffffff;
}

.overlay .content {
    background: #167ea8;
    margin-left: 200px;
    margin-right: 200px;
    /*background: var(--overlay-content-background);*/
} 

/* Form related */
#signin-form, #register-form {
    width: 270px;
    text-align: center; /* Align text within forms */
}

#signin-password {
    color: black;
}

#register-form {
    width: 350px;
    background-color: #8ec9f1;
    padding: 20px;
} 

/*End of Home page*/

/* Game Over Page*/
#game-over-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("./images/zelda-background.png") no-repeat center;
    background-size: cover;
}

#game-over-container{
    background-color: #8ec9f1;
    padding: 20px;
    border-radius: 15px;
    width: 60%;
}

#player-result {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.ranking-result{
    padding: 3px;
    border-radius: 15px;
    background-color: #ffffff;
}

.leaderboard-table {
    background:#117cc3;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    max-height: 100px;
    overflow-y: auto;
}

.ranking-result h3{
    color:#117cc3;
    text-align: center;
}

.leaderboard-table th {
    background-color: #ffffff;
    text-align: left;
  
}

.leaderboard-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.leaderboard-table tbody tr td {
   padding-left: 10px;
}

/* Styling for the game-over page buttons */
#game-over-page-button {
    display: flex;
    justify-content: space-around;
}

#back-to-pair-up,
#back-to-home {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#back-to-pair-up:hover,
#back-to-home:hover {
    background-color: #2980b9;
}

#player1-result p,
#player2-result p{
    margin: 0 0;
}

